# Distribution / packaging
.Python
venv/
env/
db.sqlite3
*.sqlite3
.idea/
# Project asset folders
media/
# Database
db.sqlite3
# Editor directories and files
.idea
# Byte-compiled / optimized / DLL files
blogengine/__pycache__/
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class